<h1>Listing all Appointments</h1>

<%= link_to "New appointment", new_appointment_path, class: "btn btn-default btn-lg", id: "new-appointment-btn" %>

<% @appointments.each do |appointment| %>
	<div class="well well-lg">
		<div class="appointment-Name">
			<%= link_to appointment.Name, appointment_path(appointment) %>
		</div>

		<div class="appointment-Date">
			<%= appointment.Date %>
		</div>
	</div>
<% end %>